source https://api.nuget.org/v3/index.json

nuget FSharp.Compiler.Tools
nuget FSharp.Core
nuget FsUnit.xUnit
nuget NUnit
nuget NUnit3TestAdapter
nuget System.ValueTuple
nuget xunit.runner.visualstudio
nuget Microsoft.NET.Test.SDK